name: Deploy RideX

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3️⃣ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4️⃣ Build & push Backend image
      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-backend:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/ridex-backend:latest
          cache-to: type=inline

      # 5️⃣ Build & push Frontend image
      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./RideX  
          file:q ./RideX/Dockerfile 
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-frontend:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/ridex-frontend:latest
          cache-to: type=inline
