name: Deploy RideX

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-backend:latest

      - name: Build and push RideX
        uses: docker/build-push-action@v6
        with:
          context: ./RideX
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-frontend:latest
