name: Deploy RideX

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout your code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build & push backend
      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend          # Path to backend folder
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-backend:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/ridex-backend:latest
          cache-to: type=inline

      # 4️⃣ Build & push frontend
      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./RideX            # Path to frontend folder
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ridex-frontend:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/ridex-frontend:latest
          cache-to: type=inline
